In [6]:
import pandas as pd

In [7]:
%pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\md. emon\.conda\envs\python_ml\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import mysql.connector

In [17]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [45]:
pd.read_sql_query("select * FROM country where Code = 'PAK'", conn)

C:\Users\Md. Emon\AppData\Local\Temp\ipykernel_12008\1843327682.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * FROM country where Code = 'PAK'", conn)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,PAK,Pakistan,Asia,Southern and Central Asia,796095.0,1947,156483000,61.1,61289.0,58549.0,Pakistan,Republic,Mohammad Rafiq Tarar,2831,PK

In [41]:
#display continent asia countries
#pd.read_sql_query("select * FROM country where Continent = 'Asia'", conn)

#pd.read_sql_query("select * FROM countrylanguage where Language='English'", conn)